@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

:root {
    --main-color: #deab5f;
    --primary-color: #312e2e;
  }

body {
    background: #100e0f;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}

nav li{
    display: inline;
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

.header{
    background: url(assets/head.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Playfair Display SC", serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}

.main-headings{
    position: absolute;
    font-size: 4rem;
    letter-spacing: 10px;
    top: 7rem;
}

.primary-heading{
    position: absolute;
    font-size: 4rem;
    letter-spacing: 10px;
    bottom: 4rem;
    margin-bottom: -40px;
}

.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transform: translateY(60px);
}

#our-story{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 400px;
    height: 400px;
    background: url(assets/5.png);
    background-position: center;
    background-size: cover;
}

.title-style{
    display: flex;
    align-items: center;
}

.title{
    font-family: "Playfair Display SC", serif;
    font-size: 4rem;
    color: #fff;
}

.section-content p{
    color: #fff;
    max-width: 500px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}

.coffee-container{
    display: flex;
    margin-top: 10rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title-2{
    color: #fff;
    font-size: 4rem;
    font-family: "Playfair Display SC", serif;
}

.content-section p{
    color: #fff;
    max-width: 500px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}

.img2{
    background: url(assets/2.png);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.products{
    margin-top: 5rem;
}

.title-3{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    border: 2px solid #deab5f;
    padding: 0px 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}

.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
}

.img01{
    background: url(assets/3.png);
    background-position: center;
    background-size: cover;
}
.img02{
    background: url(assets/4.png);
    background-position: center;
    background-size: cover;
}
.img03{
    background: url(assets/1.png);
    background-position: center;
    background-size: cover;
}

.card-title{
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}

.card .items p{
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
}

hr{
    border-color: #deab5f;
    margin-bottom: 20px;
    width: 500px;
    margin: 0 auto;
}

footer{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: sans-serif;
}

footer .container{
    margin: 20px;
    max-width: 300px;
    text-align: center;
    padding-left: 20px;
}

footer .heading-info {
    margin-bottom: 20px;
}

footer p{
    line-height: 25px;
}

span{
    color: #deab5f;
}

.hr-two{
    border-color: #777;
}

.para{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 768px){
    .main-headings,
    .primary-heading {
    font-size: 2.5rem;
    }

    #our-story {
        text-align: center;
    }

    #our-story .title{
        transform: translateX(50px);
    }   

    .img{
        width: 200px;
        height: 200px;
    }

    .content-section{
        text-align: center;
    }

    .coffee-container .img-container{
        margin-top: 5px;
        width: 50%;
        transform: translateX(50px);
    }

    .img2{
        height: 200px;
        width: 200px;
        margin-top: 50px;
    }

    .title-3{
       transform: translateX(-90px);
    }
    
    hr{
        width: 400px;
    }
    .hr-two{
        display: none;
    }
    .para{
        margin-top: 14rem;
    }
}